<div class="schedule">
    <div class="data">
        <ng-container *ngFor="let record of dayRecords;let i=index; trackBy:customTrackBy">
            <div class="animation record">
                <input type="text" type="time" class="editable" [(ngModel)]="dayRecords[i].time"
                    (ngModelChange)="timeModelChangeFn($event)" (focusout)="inputFocusOut(i)">
                <input type=" text" [(ngModel)]="dayRecords[i].task" class="editable">

                <i (click)="deleteItem(record)" class="material-icons">delete</i>
            </div>
        </ng-container>
    </div>

    <form #todoForm="ngForm" (ngSubmit)="todoForm.resetForm()">
        <div class="input-group">
            <div class="input-block">
                <input #time="ngModel" type="time" class="form-control" placeholder="Add Time" name="time" ngModel
                    required>

                <ng-container *ngIf="time.invalid && (task.dirty || time.touched)">
                    <ng-container *ngIf="time.errors.required">
                        <small class="error-message">Required field</small>
                    </ng-container>
                </ng-container>
            </div>

            <div class="input-block">
                <input #task="ngModel" type="text" class="form-control task-input" placeholder="Add Todo" name="task"
                    ngModel required>

                <ng-container *ngIf="task.invalid && (task.dirty || task.touched)">
                    <ng-container *ngIf="task.errors.required">
                        <small class="error-message">Required field</small>
                    </ng-container>
                </ng-container>
            </div>

            <button type="submit" class="input-group-text add-button" (click)="addTodo(time.value, task.value)"
                [disabled]="todoForm.invalid">
                <i class="material-icons">add</i>
            </button>
        </div>
    </form>
</div>