<div class="schedule">
    <div class="data">
        <ng-container *ngFor="let record of dayRecords">
            <div class="animation record">
                <input type="text" type="time" [(ngModel)]="record.time" class="editable">
                <input type="text" [(ngModel)]="record.task" class="editable">
                <i (click)="deleteItem(record)" class="material-icons">delete</i>
            </div>
        </ng-container>
    </div>

    <form #todoForm="ngForm" (ngSubmit)="todoForm.resetForm()">
        <div class="input-block">
            <input #time type="time" class="form-control" placeholder="Add Time" name="time" ngModel>
            <input #task type="text" class="form-control" placeholder="Add Todo" name="task" ngModel>

            <button class="input-group-text" (click)="addTodo(time.value, task.value)">
                <i class="material-icons">add</i>
            </button>
        </div>
    </form>
</div>