@import '../../../styles/mixins/borders';

:host {
    @include app-border();

    flex-grow:1;
    margin-right: 20px;

    @media screen and (max-width: 459px) {
      margin-right: 0;
      margin-bottom: 20px;
  }
}

.input-block {
    display: flex;

    >*:not(:last-child) {
        margin-right: 15px;
    }
}

.schedule {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 20px;
}

.data {
    flex-basis: 0;
    flex-grow: 1;
}

.editable{
  border:none;
  outline:none;
  background:transparent;
}

.task-input {
  @media screen and (max-width: 459px) {
    font-size: 12px;
  }
}

.record {
    text-align: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;

    > input {
      width: 44%;
      text-align: center;
      text-overflow: ellipsis;
    }

    > i {
      width: 50px;
    }
}

.record > input:focus {
  border-bottom: 2px solid $main-color;
}

input[type="time"]::-webkit-calendar-picker-indicator {
  display: none;
}

@keyframes AddRecords {
    0% {
      padding-left: 100px;
    }
    100% {
      padding-left: 0px;
    } 
  }

  .animation {
    animation: AddRecords 400ms;
  }